{% extends "base.html" %}

{% block content %}
<div class="mx-auto content-section pd-5">
    <section class="mb-4rem ">
        <h2 class="border-bottom">What is PropertyPricer?</h2>
        <p>PropertyPricer is an ecommerce site, designed for users to buy and sell property. In addition to all the basic features of such a site, we have implemented a price prediction model which we believe gives us a unique edge over other similar sites.</p>
        <p>Thanks to our price prediction model, our users will have access to the best possible information when trying to sell their property. Not only do we give an estimate of the predicted price at time of posting, but we also provide an outline of how that price is expected to change over time based on various market factors.</p>
        <p>In order to take advantage of this service, all our users need to do is post a property for sale. Based on the information provided on the property, our algorithm will determine the current & future estimated prices and display them to you in the form of a chart on your profile page.</p>
    </section>

    <section class="mb-4rem">
        <h2 class="border-bottom">How to use the site</h2>
        <p>Please refer to the <a href="{% url 'userguide'%}">User Guide</a>.</p>
    </section>

    <section class="mb-4rem">
        <h2 class="border-bottom">Future of the project</h2>
        <p>PropertyPricer is still in development, and as such not all features of the site have been fully implemented. Our team is still working to bring these features online, and we hope that by the end of our scheduled development cycle we will have delivered everything we promised.</p>
    </section>
</div>
{% endblock content%}