{% extends "base.html" %}
{% block content %}
    <h1 class="text-center my-5 py-5">Property Pricer</h1>
    <!-- Search Bar -->
    <section class="my-4 mx-auto pb-5">
        <h2>Search Properties</h2>
        <form method="GET" action="/search/">
            <div class="input-group">
                <input name="q" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button class="btn btn-outline-info" type="submit">Search</button>
            </div>
        </form>
    </section>
    <!-- List Posts -->
    <section class="my-4 pb-5">
        <h2>All Posts</h2>
        {% for post in posts %}
            {% include 'webpages/long_post.html' %}
        {% endfor %}
    </section>
    <!--  paginating page s  -->
    {% include 'webpages/pagination.html' %}

{% endblock content %}