{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <nav class="sticky-top">
            <ul class="list-unstyled">
                <li>
                    <a href="#Overview">Basic Overview</a>
                </li>
                <li>
                    <a href="#Register">Creating an account & Logging in</a>
                </li>
                <li>
                    <a href="#Profile">Your Profile</a>
                </li>
                <li>
                    <a href="#NewPost">Creating a New Post </a>
                </li>
                <li>
                    <a href="#DeletePost">Editing/Deleting a Post</a>
                </li>
                <li>
                    <a href="#About">About Page</a>
                </li>
                <li>
                    <a href="#Home">Home Page</a>
                </li>
                <li>
                    <a href="#Search">Search Bar </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9 mx-auto">
        <section class="guide">
            <h2 id="Overview" class="sub-headline anchor">Basic Overview</h2>
            <p>
                To use our site, you should first register an account, without registering many of our features will be unavailable to you.
            </p>
            <p>
                As this project is still in development phase, not all features have been fully implemented. Features which are not yet complete will be marked with an asterisk (*) under the relevant heading,
                and where necessary further details will be given.
            </p>
        </section>

        <section  class="guide">
            <h2 id="Register" class="sub-headline anchor">Creating an account & Logging in</h2>
            <p>
                To create an account, click on the 'Register' button on the top right hand side of the website. You will be taken to the registration page, where you will be prompted to choose a username & password and enter a valid email address.
            </p>
            <div class="registration-image">
                <img src="/media/registration.png" alt="">
            </div>
            <p>
                Once you have done this, you will receive a confirmation email with an account activation link. Log into your email account and click on this link, if you can't find it in your inbox be sure to
                check your spam folder. After you have activated your account, you will be able to log in using the username and password you have created.
            </p>
            <p>
                You can click on the 'Login' button on the top right hand side of the page to take you to the login page, where you should enter the username and password you used to register your account.
            </p>
            <div class="login-imagee">
                    <img src="/media/login.png" alt="">
            </div>
            <p>
                Once you have logged in, the layout of the site will appear slightly different. The 'Login' and 'Register' buttons on the top right will be replaced by 'New Post', 'Profile', and 'Logout'.
                If at any point you wish to log out of your account, simply click the 'Logout button on the top right' and you will be logged out of your account.
            </p>
            <div class="navbar-image">
                    <img src="/media/nav.png" alt="">
            </div>
        </section>

        <section  class="guide">
            <h2 id="Profile" class="sub-headline anchor">Your Profile</h2>
            <p>
                To view your profile, click on the 'Profile' button on the top right of the site. You will need to make sure you're logged into view your profile.
            </p>
            <div class="profile-image">
                    <img src="/media/yourProfile.png" alt="">
            </div>
            <p>
                On your profile page, you will be able to change your account details by clicking on the 'Edit Profile' button underneath your email address, on your profile page. You can then change your username and/or email address and choose an image for your profile picture as per your convenience.
            </p>
            <div class="profileInfo-image">
                <img src="/media/profile_info.png" alt="">
            </div>
            <p>
                On your profile there are also sections for your posts, when you make posts they will be displayed here.
            </p>
            <p>
                The chart section on your profile will provide a graphical representation of our price prediction model; for the posts you have created, you will be able to see the predicted price of the property you have posted over a period of time.
            </p>
            <p>
                Underneath the section for your 'posts' is a section for your messages, where you can view messages sent to you by other users.* (Not yet implemented)
            </p>
        </section>

        <section class="guide">
            <h2 id="NewPost" class="sub-headline anchor">Creating a New Post</h2>
            <p>
                To create a new post, click on the 'New Post' button in the top right of the site. Note that in order to create a post you will have to be logged in, if you don't see the 'New Post' button then you are not logged in.
            </p>
            <p>
                When creating a post, there are a series of fields you must fill out with information about your property. Fields that are mandatory are marked with an asterisk (*). You will not be able to create your post if these mandatory fields are left blank.
            </p>
            <p>
                Fields that are not marked with an asterisk are not mandatory, you can choose whether or not you want to fill them out.
            </p>
            <p>
                You can choose to upload images for the floor plan, as well as images showing the rest of the property.
            </p>
            <p>
                Once you are happy with the information you have entered, click on the 'Post' button at the bottom of the page to create your post.
            </p>
            <p>
                Remember that if you make a mistake in your post you can always go back and edit it later.
            </p>
            <div class="postProperty-image">
                <img src="/media/postProperty.png" alt="">
            </div>
        </section>

        <section class="guide">
            <h2 id="DeletePost" class="sub-headline anchor">Editing/Deleting a Post</h2>
            <p>
                Once you have made a post, you can navigate to your profile and
                select it under the 'My Posts' section. Once selected, you can choose to delete it which will remove the post from the site or edit it.
            </p>
            <div class="editPost-image">
                <img src="/media/editPost.png" alt="">
            </div>
            <p>
                When editing your post, you will be shown the same screen you saw when creating it. You can choose to change as many fields as you like and leave fields the same if they already contain the correct information.
            </p>
            <p>
                Re-uploading images will remove all old images, so if you are adding a new image for instance you will have to reselect the previous images when editing the post.
            </p>
        </section>

        <section class="guide">
            <h2 id="About" class="sub-headline anchor">About Page</h2>
            <p>
                To view the about page, click on the 'About' button on the toolbar, to the right of the 'Home' button
            <p>
            <p>
                On the about page, you will be able to read about the basics of our site; what it does and why we think you should use it.
            </p>
        </section>

        <section  class="guide">
            <h2 id="Home" class="sub-headline anchor">Home Page</h2>
            <p>
                On the home page you will be able to see posts made by you and other users. The posts will show the username of the person who posted them as well as the date they were posted.
            </p>
            <p>
                If you want to view an indivisual post click on the title of that post and you will be brought to a new screen where you can view it on its own.
            </p>
            <p>
                Clicking on one of your own posts on the home screen will allow you to edit/delete that post as detailed above but only when you are logged in.
            </p>

             <div class="homePage-image">
                <img src="/media/homePage.png" alt="">
            </div>
        </section>

        <section class="guide">
            <h2 id="Search" class="sub-headline anchor">Search Bar</h2>
             <p>
                When on the home page you will be able to see the search bar under the 'Search Properties' heading, which is above the 'All Posts' heading. You can use this to search for posts, type in a search term and press the 'Search' button on the right of the bar. The site will return posts which match your search term.
            </p>
            <p>
                If you are not on the home page, the search bar will appear on the top of the screen, to the right of the 'About' button.
            </p>
            <div class="searchbar-image">
                <img src="/media/searchbar.png" alt="">
            </div>
        </section>

        <section>
            <p>
                When you create a post, our price prediction model will use the information you have provided to give you a predicted price for your property currently and in the near future.
                A graphical representation of the prediction will be visible on your profile as a graph.
            </p>
            <p>
                *At the time of writing, the price prediction model has not been fully implemented. The chart you see on your profile page serves as an example and will not change currently.
            </p>
         </section>
    </div>
</div>
{% endblock content%}