<!-- A post view with all the information of a post -->
<article class="media content-section">
    <div class="media-body w-50">
        <!-- Information about the post -->
        <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <a class="mr-2" href="{% url 'profile-page' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted my-auto">{{ post.date_posted|date:"F d, Y" }}</small>
            {% url 'post-detail' object.id as post_url %}
            {% if request.get_full_path == post_url and object.author == user%}
                <div class="float-right">
                    <a class="btn-info btn-sm" href="{% url 'post-update' object.id %}">Edit</a>
                    <a class="btn-danger btn-sm" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
        <!-- Content of the post -->
        {% if post.post_images.all %}
            <!-- Slider and gallery -->
            <ul id="lightSlider" class="gallery list-unstyled cS-hidden">
            {% for img in post.post_images.all %}
                <li data-thumb="{{ img.image.url }}" data-source="{{ img.image.url }}">
                    <a href="{{ img.image.url }}">
                        <img src="{{ img.image.url }}" />
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        <!-- Information of the Property -->
        <h3 class="article-title mt-5"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post }}</a></h3>

        {% if post.price %}
            <h4>Your Price:  € {{ post.price }}</h4>
            <h4>Estimated Price: € {{ post.estimated_price }}</h4>
        {% else %}
            <h4>Your Price: POA</h4>
            <h4>Estimated Price: € {{ post.estimated_price }}</h4>
        {% endif %}

        <div class="row my-5 border-top border-bottom py-3">
            <div class="col-md-3 my-auto">
                <small>Property type</small>
                <div>{{ post.property_type }}</div>
            </div>
            <div class="col-md-3 my-auto">
                <small>Size</small>
                <div>{{ post.size }}m<sup>2</sup></div>
            </div>
            <div class="col-md-3 my-auto">
                <small>Bedrooms</small>
                <div>{{ post.number_of_bedrooms }}</div>
            </div>
            <div class="col-md-3 my-auto">
                <small>Bathrooms</small>
                <div>{{ post.number_of_bathrooms }}</div>
            </div>
        </div>

        <div class="my-5">
            {% if post.floor_plan %}
                <h5>Floor Plan</h5>
                <img src="{{ post.floor_plan.url }}" />
            {% else %}
                <p>No floor plan</p> 
            {% endif %}
        </div>

        <div class="my-5">
            <h5>Property Description</h5>
            {% if post.property_description %}
                <p class="article-content">{{ post.property_description }}</p>
            {% else %}
                <p>No property description</p> 
            {% endif %}
        </div>

        <div class="my-5">
            {% if post.energy_rating %}
                <h5>BER Rating</h5>
                <p class="article-content">{{ post.energy_rating }}</p>
            {% else %}
                <p>No BER Rating</p> 
            {% endif %}
        </div>
        
    </div>
</article>