<article class="media content-section">
    <div class="media-body w-50">
        <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <a class="mr-2" href="{% url 'profile-page' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <!-- Content of the post -->
        <div class="row">
            {% if post.post_images.all %}
            <div class="short-slider">
                <!-- Slider and gallery -->
                <ul id="lightSlider" class="gallery list-unstyled cS-hidden">
                {% for img in post.post_images.all %}
                    <li data-thumb="{{ img.image.url }}" data-source="{{ img.image.url }}">
                        <a href="{{ img.image.url }}">
                            <img src="{{ img.image.url }}" />
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if post.post_images.all %}
                <div class="mx-auto my-auto">
            {% else %}
                <div class="mx-4">
            {% endif %}
                {% if object.address_line_2 %}
                    <h3 class="article-title mt-3"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ object.address_line_1 }}, {{ post.address_line_2 }}, {{ post.city }}, {{ post.county }}</a></h3>
                {% else %}
                    <h3 class="article-title mt-3"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.address_line_1 }}, {{ post.city }}, {{ post.county }}</a></h3>
                {% endif %}

                {% if post.price %}
                    <h4>Your Price:  € {{ post.price }}</h4>
                    <h4>Estimated Price: € {{ post.estimated_price }}</h4>
                {% else %}
                    <h4>Your Price: POA</h4>
                    <h4>Estimated Price: € {{ post.estimated_price }}</h4>
                {% endif %}

                <p>{{ post.number_of_bedrooms }} bedrooms {{ post.property_type }} for sale</p>
            </div>
        </div>
    </div>
</article>