{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- LightSlider, LightGallery CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightgallery.min.css' %}">


    <!-- Custom fonts for this template for the use function-->

    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!--    -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}" ></script>

    {% if title %}
        <title>CS3305TSP - {{ title }}</title>
    {% else %}
        <title>Property Pricer</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav id="nav" class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <!--href="{% url 'home-page' %} this saves us form having to hardcode the absolute path-->
                <a class="navbar-brand mr-4" href="{% url 'home-page' %}">
                    <img style="height: 23px; vertical-align: baseline;" src="{% static 'logo.png' %}">
                    <span>Property Pricer</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'home-page' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'about-page' %}">About</a>
                        <a class="nav-item nav-link" href="{% url 'userguide' %}">User Guide</a>

                        {% url 'home-page' as home_url %}
                        {% url 'login-page' as login_url %}
                        {% url 'register-page' as register_url %}
                        {% if request.get_full_path != home_url and request.get_full_path != login_url and request.get_full_path != register_url %}
                            <form method="GET" action="/search/" class="nav-item form-inline mx-2">
                                <div class="input-group">
                                    <input name="q" type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                                    <button class="btn btn-outline-light search-btn" type="submit">Search</button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                    <!-- Navbar Right Side -->
                    <!-- conditional statement to either display login/logout page if a user is authenticated or -->
                    <div class="navbar-nav">
                        {% if request.user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                            <a class="nav-item nav-link" href="{% url 'profile-page' request.user.username %}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                            <a class="nav-item nav-link" href="{% url 'logout-page' %}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'register-page' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="mx-auto w-75">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% block content %}{% endblock %}
        <div class="push"></div>

    </main>

    <footer class="text-center">
        <div class="navbar navbar-expand navbar-light justify-content-center py-0">
            <ul class="list-unstyled navbar-nav">
                <li class="nav-item"><a
                        class="nav-link"
                        href="{% url 'about-page' %}">About Us</a>
                </li>
                <li class="nav-item"><a
                        class="nav-link"
                        href="{% url 'userguide' %}">User Guide</a></li>
                <li class="nav-item"><a
                        class="nav-link"
                        href="mailto:tspgroup13@gmail.com?subject=Inquiry: ">Contact Us</a></li>
            </ul>
        </div>
        <small>Copyright &copy; 2021 Property Pricer. All Rights Reserved.</small>
    </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
<!-- LightSlider, LightGallery JS -->
<script type="text/javascript" src="{% static 'js/lightslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lightgallery.min.js' %}"></script>

<!-- Slider and thumbnails -->
<script type="text/javascript" src="{% static 'js/customslider.js' %}"></script>

</body>
</html>