{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media row">
            <div class="col-md-4 text-center">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" />
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
            <div class="chart col-md-8">
                <h2 class="text-center">Chart</h2>

                <canvas id="myChart" class="w-100"></canvas>

                <script type="text/javascript">
                    $.get("{% url 'line_chart_json' %}", function (data) {
                        var ctx = $("#myChart").get(0).getContext("2d");
                        new Chart(ctx, {
                            type: 'line',
                            data: data,
                            options: {
                                responsive: false
                            }
                        });
                    });
                </script>
            </div>
        </div>
        <!--  the button is used for overlay curtain display      -->
        <button class="btn btn-outline-info" onclick="openNav()">Edit Profile</button>
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <!-- FORM HERE -->
                <!-- enctype is used for saving images in data    -->
                <div class="container">
                    <form method="POST" enctype="multipart/form-data" class="update-profile">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Profile Info</legend>
                            {{ u_form|crispy }}
                            {{ p_form|crispy }}

                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section mx-auto">
        <h2 class="mb-3">My Posts</h2>
        {% for post in user.user_posts.all %}
            {% include 'webpages/short_post.html' %} 
        {% endfor %}
        {% include 'webpages/pagination.html' %}
    </div>

    <div class="content-section mx-auto">
        <h2>Messages</h2>
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
        {% else %}
            <p>No Message avaliable</p>
        {% endif %}
    </div>

    <!-- the css section for the overlays opening and closing   -->
    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
        }
    </script>
{% endblock content %}